include CHANGELOG.md LICENSE README.md .readthedocs.yaml
recursive-include tests *.py *.json *.md
recursive-include scripts *.py
recursive-include docs *.md *.rst *.py
prune docs/_build
global-exclude __pycache__ *.py[cod]
